<app-header></app-header>
<section class="recommendation-section" *ngIf="!loading">
    <app-phone
        *ngIf="recommendation.mainRecommendation"
        [phoneNumber]="1"
        [phone]="recommendation.mainRecommendation"
        class="recommendation phone-1">
    </app-phone>
  <app-phone
    *ngFor="let phone of recommendation.secondaryRecommendation; let i = index"
    [phoneNumber]="i + 2"
    [phone]="phone"
    class="recommendation phone-{{i + 2}}">
  </app-phone>
</section>
<section class="recommendation-section loading" *ngIf="loading">
  <img src="/assets/loader.svg">
</section>
<app-footer></app-footer>
