<app-header></app-header>
<div *ngIf="error == null || error == ''">
  <section class="quiz-section" *ngIf="!loading">
    <div class="heading">
      <h2>Question {{questionNumber}}</h2>
      <h3>{{question.title}}</h3>
    </div>
    <div class="question-options">
      <app-question-option
        *ngFor="let answer of question.answers"
        (optionClicked)="onOptionClicked($event)" 
        [option]="answer">
      </app-question-option>
    </div>
  </section>
  <section class="quiz-section loading" *ngIf="loading">
    <img src="/assets/loader.svg">
  </section>
</div>
<div *ngIf="!(error == null || error == '')">
  <section class="quiz-section error">
    <h3>{{ error }}</h3>
  </section>
</div>
<app-footer></app-footer>