<section class="auth-page">
    <div class="auth-form">
        <div class="icon-section" (click)="onLogoClick()">
            <h1 class="title">Mobite</h1>
            <img src="/assets/app-logo.svg"/>
        </div>
        <h2>Log in</h2>
        <form #f>
            <label for="email">Email</label>
            <input [(ngModel)]="loginUserData.email" type="email" id="email" name="email" required
                   pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" #email="ngModel">
            <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="email.errors.pattern">
                    Email is invalid.
                </div>
            </div>
            <label for="password">Password</label>
            <input [(ngModel)]="loginUserData.password" type="password" id="password" name="password" required
                   #password="ngModel">
            <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
            </div>
<!--            <div class="remember-me">-->
<!--                <input type="checkbox" id="rememberme" name="rememberme">-->
<!--                <label for="rememberme">Remember me</label>-->
<!--            </div>-->

            <app-button [disabled]="f.invalid" (buttonClicked)="onLoginUser()">Log in</app-button>
        </form>
        <div class="links">
            <div>Don't have an account?
                <app-button (buttonClicked)="onSignupClick($event)"
                            [buttonStyle]="linkButtonStyle"
                            [isLink]="true">Sign up
                </app-button>
            </div>
        </div>
        <div class="error">
            {{errorText}}
        </div>
    </div>
    <div class="splash-image">
    </div>
</section>
