@import "../../../styles/colors.scss";

.header-section {
  height: 100px;
  width: 100%;
  background-color: $col_curiousBlue;
  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    .icon-section {
      user-select: none;
      display: inline-flex;
      height: 52px;
      .title{
        font-family: "Press Start 2P", sans-serif;
        font-size: 36px;
        line-height: 52px;
        text-shadow: 1px 1px $col_white;
      }
    }
    .sign-up, .profile {
      margin-right: 30px;
      margin-left: 15px;
    }
    .loggedIn {
      font-size: 1.5rem;
      color: $col_white;
    }
  }
}
