<section class="info-section">
    <div class="info-about">
        <h2>What is Mobite?</h2>
        <p>Mobite provides you a list of phones that you might like based on your preferences.</p>
        <p>Whether you like to takes photos, play games or want a flagship killer phone, Mobite will help you make the
            right
            choice. So, go ahead and never worry about making a bad purchase again.</p>
    </div>
    <div class="info-why">
        <h2>Why Mobite?</h2>
        <div class="info-reasons">
            <div>
                <img src="/assets/info/pinch-easy.svg" />
                <h3>Simple and easy</h3>
                <p>You just have to answer a few simple questions based on your preference.</p>
            </div>
            <div>
                <img src="/assets/info/smiling-line.svg" />
                <h3>User friendly</h3>
                <p>You don’t have to be a geek to complete the questionaire.</p>
            </div>
            <div>
                <img src="/assets/info/heart-thin.svg" />
                <h3>Made with love</h3>
                <p>Made with &lt;3 by students from KTU</p>
            </div>
        </div>
    </div>
</section>