@import "../../../styles/colors.scss";

.question-option {
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  background-color: $col_turquoise;
  text-align: center;
}

.question-option img {
  border-radius: 5px;
  border: 1px solid $col_curiousBlue;
  background-color: $col_white;
  width: 200px;
  height: 200px;
}

.option {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
