@import "../../../styles/colors.scss";

.question-option {
    border-radius: 5px;
    padding: 1rem;
    width: 232px;
    background-color: $col_turquoise;
    text-align: center;
}

.question-image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $col_curiousBlue;
    background-color: $col_white;
    border-radius: 5px;
    img {
        max-width: 198px;
        max-height: 198px;
        height: auto;
    }
}

.option {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
