.landing-section {
  box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.25);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/landing-page-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-section-text {
  width: 70vw;
  height: min-content;
  display: grid;
  grid-template-areas:
    "header header"
    "slogan image";

  h2 {
    font-size: 4.25rem;
    margin: 0.25rem 0rem;
    font-weight: bold;
    grid-area: header;
  }

  p {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    z-index: 2;

    &:first-child {
      margin: 1rem 0;
    }
  }
}

.landing-section-image {
  margin-left: -400px;
  z-index: 1;
  grid-area: image;
  img {
    width: 100%;
    max-width: 600px;
  }
}

.landing-section-slogan {
  grid-area: slogan;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .landing-section {
    height: fit-content;
    padding: 2rem 0;
  }

  .landing-section-text {
    grid-template-areas:
      "header"
      "slogan"
      "image";

    p {
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 3rem;
    }
  }

  .landing-section-image {
    display: flex;
    justify-content: center;
    margin-left: 0px;

    img {
      width: auto;
      max-height: 300px;
    }
  }
}
