<section class="landing-section">
    <div class="landing-section-text">
        <h2>Choose a new phone easily!</h2>

        <div class="landing-section-slogan">
            <p>Simply answer a few questions and we will choose what is right for you!</p>
            <p>Start using Mobite now!</p>
            <app-button class="button" [isBig]="true" (buttonClicked)="openApp.emit()">Open app</app-button>
        </div>

        <div class="landing-section-image">
            <img src="/assets/landing-page-phone.svg" />
        </div>
    </div>
</section>
