@import "../../../styles/colors.scss";

.getStartedSection {
  background-color: $col_curiousBlue;
  min-height: 208px;
  min-width: 500px;
  width: 70vw;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  .text {
    line-height: 40px;
    font-size: 48px;
  }
  .firstLine {
    color: $col_black;
  }
  .secondLine {
    color: $col_white;
  }
}
.footer-content {
  margin: 50px auto;
  width: 70vw;
  display: flex;
  .footer-section {
    font-size: 24px;
    line-height: 28px;
    padding: 0 60px 0 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 6px 0;
      li {
        padding: 6px 0;
        //cursor: pointer;
      }
    }
  }
}
